/*---------------------------------------- Reset everything ------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, cite, strong,
ol, ul, li,
fieldset, form, label, legend,
tbody, tfoot, thead, tr {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background: #fff;
}
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}
.clearboth {
	width: 100%;
	clear: both;
	display: block;
}
.screen-reader-text {	
}

/* everywhere */
body,
button,
input,
select,
textarea {
	color: #3d3d3d;	
	font-family: Open Sans, Helvetica, Arial;
	font-size: 12px;
	line-height: 1.8;
	word-wrap: break-word;
}
body {
	background: #eee;
}
#body-core {
	background: white;
	min-width: 320px;
	overflow: hidden;
}

/* Responsive screen width */
body.layout-fixed,
body.layout-fixed #body-core,
body.layout-fixed #site-header,
body.layout-fixed #header-sticky,
body.layout-fixed #notification { 
	min-width: 960px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #232323;
	clear: both;
	margin: 0 0 0.8em;
	font-family: Open Sans, Helvetica, Arial;
	line-height: 1.5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
hr {
	background-color: #E6E6E6;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 20px;
}
ul, ol {
	margin: 0 0 20px 20px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
b, strong {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input {
	line-height: inherit;
	*overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	padding: 10px 24px;
}
input.searchsubmit {
	padding: 6px 15px;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
select,
textarea {
	background: white;
	border: 1px solid #DDD;
	padding: 10px 20px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
	background: #fff;
}
textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
}

/*----------------------------------- My styles ----------------------------------------- */
@font-face{
	font-family: 'DejaVuSans-bold';
   src: url('../fonts/DejaVuSansCondensed-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'tahomabd';
   src: url('../fonts/tahomabd.ttf') format('truetype');
}
@font-face{
	font-family: 'Everson';
   src: url('../fonts/Everson Mono Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Jitzu';
   src: url('../fonts/Jitzu+Swash+Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'DejaVuSans';
   src: url('../fonts/DejaVuSans.ttf') format('truetype');
}
@font-face{
	font-family: 'tahoma';
   src: url('../fonts/tahoma.ttf') format('truetype');
}
@font-face{
	font-family: 'EversonOblique';
   src: url('../fonts/Everson Mono Oblique.ttf') format('truetype');
}
@font-face{
	font-family: 'chrysuni';
   src: url('../fonts/chrysuni.ttf') format('truetype');
}
@font-face{
	font-family: 'sylfaen';
   src: url('../fonts/sylfaen.ttf') format('truetype');
}
@font-face{
	font-family: 'FreeSerif';
   src: url('../fonts/FreeSerif.ttf') format('truetype');
}
.chrysuni {
	font-family: 'chrysuni', 'Times', serif;
}
.DejaVuSans {
	font-family: 'DejaVuSans', 'Arial', sans-serif;
}
.DejaVuSans-bold {
	font-family: 'DejaVuSans-bold', 'ArialBlack', sans-serif;
}
.Everson {
	font-family: 'Everson', 'Courier', monospace;
}
.EversonOblique {
	font-family: 'EversonOblique', 'Courier', monospace;
}
.FreeSerif {
	font-family: 'FreeSerif', 'Times', serif;
}
.Jitzu {
	font-family: 'Jitzu', 'Times', serif;
}
.sylfaen {
	font-family: 'sylfaen', 'Times', serif;
}
.tahoma {
	font-family: 'tahoma', 'Arial', sans-serif;
}
.tahomabd {
	font-family: 'tahomabd', 'ArialBlack', sans-serif;
}

/* general */
[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
}

.inline {
	display: inline;
}
.bold {
	font-weight: bold;
}
.pos_right {
	float: right;
}
.pos_left {
	float: left;
}
.txt_right {
	text-align: right;
}
.txt_left {
	text-align: left;
}
/* main page */
body {
	background: -moz-linear-gradient(#dcdcdc, rgb(201,201,146));
	font-size: 0.9em;
}
.clear {
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
}
button:focus {
	outline: 2px solid #a07;
}

/*********** header ***********/
/* big header */
header {
	background-color: #dcdcdc;/*#265*/
	color: #eee;
}
header li {
	list-style-type: none;
	display: inline;
	padding: 0 10px 0 10px;
}
header li a, header li a:visited {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
header li a:focus {
	text-decoration: underline;
	color: #a07;
}
#lang-menu {
	font-size: 0.8em;
}
#lang-menu img {
	width: 10px;
	margin-right: 3px;
}
#loginout {
	width: 100%;
	margin-top: -20px;
	margin-left: -10px;
	color: #333;
}
#logo {
	display: inline;
	font-size: 2.8em;
	line-height: 3.0em;
	padding-left: 25px;
}
#logo img {
	width: 200px;
}
#logo a, #logo a:visited {
	color: #c71585;
	font-weight: bold;
	text-decoration: none;
}

/* slim header */
#slim-main {
	float: left;
	width: 100%;
	background-color: #dcdcdc;
}
#slogo {
	float: left;
	display: inline;
	font-size: 1.8em;
	line-height: 2.0em;
	padding-left: 25px;
}
#slogo img {
	width: 100px;
}
#slogo a, #slogo a:visited {
	color: #c71585;
	font-weight: bold;
	text-decoration: none;
}
#snav-main {
	float: left;
}

.nav .main {
	display: inline;
}

/*********** footer ***********/

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(201,201,146);
}
footer li {
	display: inline;
	margin: 0 10px -8px 10px;
}
footer h4 {
	display: inline;
	color: #c72585;
}
.modal {
	width: 50%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #fff;
  z-index: 3; /* places the modal on top of everything */
  position: fixed;
  top: 25%;
  left: 25%;
  display: none;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}


/*********** content ***********/

.blog, .singlepost {
	float: left;
	max-width:65%;
	padding: 0 3% 50px 3%;
}
.content {
	/*background-color: #b7b5b5;*/
	padding: 0 20px 50px 20px;
	margin-bottom: 50px;
}
.content li {
	list-style-type: none;
}
.content h2 {
	color: #a07;
	margin-bottom: -5px;
}
#latest {
	max-width: 700px;
}
.sidebar {
	width: 370px;
	color: #004D47;
}
.sidebar h3{
	color: #a07;
}
.sidebar ul li {
	list-style-type: circle;
	margin-bottom: 1.3em;
}
.sidebar ul {
	list-style-image: url('../gfx/list-tiblogs-ltr.png');
}
.sidebar.pos_left ul {
	list-style-image: url('../gfx/list-tiblogs-rtl.png');
}
.sidebar a, #sidebar a:visited{
	text-decoration: none;
	color: #a07;
	padding: 3px;
}
.sidebar a:hover, #sidebar a:focus{
	background-color: rgba(30,110,50,0.4);
}
.startpost {
	width: 250px;
	height: 250px;
	border: 1px solid #a07;
	background-color: rgba(0,0,0,0.13);
	padding: 10px;
	margin: 5px;
}
.startpost video, .startpost audio{
	width: 250px;
}
.startpost h3{
	font-size: 1.2em;
	font-weight: bold;
}
.startpost:last-child {
	margin-bottom: 50px;
}
#titleimage {
	max-height: 200px;
	margin-left: -20px;
}
#postlist {
	display: table;
	border-collapse:separate; 
	border-spacing: 0 20px;
	margin-bottom: 50px;
}
#postlist ul {
	display: block;
}
#postlist li {
	display: table-row;
}

.posticon {
	width: 50px;
	margin-right: 20px;
}
.postimage, .postcontent {
	display: table-cell;
	vertical-align: top;
}
.postimage img {
	width: 40px;
	margin-right: 10px;
}
.postcontent {
	padding: 10px;
}
.flogo {
	max-width: 300px;
}
.ownerforms {
	background-color: rgba(0,0,0,0.2);
	padding: 3px 8px;
}
#newpost {
	margin-bottom: 30px;
}

fieldset {
	border: 1px solid #333;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}
fieldset #loginf, fieldset #signupf {
	width: 30%;
}
.largetext {
	width: 80%;
	max-width: 750px;
}
textarea {
	min-height: 300px; 
}
label {
	display: block;
}
#p-language {
	
}
video:focus {
	outline: 1px solid #a07;
}
video::-webkit-media-controls-fullscreen-button {
  color: #a07;
}
#mystuff {
	padding-left: 20px;
}
#mystuff h2 {
	margin-bottom: 20px;
	margin-top: 10px;
}
#mystuff table {
	margin-bottom: 15px;
	margin-top: 10px;
}
#mystuff table tr {
	margin-bottom: 5px;
}
.content #userinfo {
	width: 27%;
	/*background-color: orange;*/
	padding: 1%;
}
#avatar {
	height: 150px;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	padding: 6px 24px;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
select,
textarea {
	background: white;
	border: 1px solid #b7b5b5;
	padding: 2px 5px;
	width: 100%;
}